/app/Assets/Fotos
/app/tmp
/app/Config/database.php
/app/Config/bootstrap_siga.php
/app/Config/core.php
/app/tmp/logs/error.log
/app/tmp
/app/tmp/cache/persistent/cake_core_file_map
/app/tmp/cache/persistent/cake_core_method_cache
/app/tmp
Assets
tmp
/app/Config/core.php
/lib/Cake/Console/Templates/skel/tmp
/.settings/
/.clover/
/nbproject/private/
/docs/manuais/build/pdf/.doctrees/