.alert {
    margin-top: 10px;
}

tr.clickableRow:hover {
    cursor: pointer;
    /* whatever other hover styles you want */
}

.form-group.required .control-label:after {
    content: "*";
    color: red;
}

.ajuda-suporte {
    font-size: 14px;
    font-weight: bold;
}

.btn {
    white-space: normal !important;
    word-wrap: break-word;
}

.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}

.actualizar-notas .checkbox {
    left: 20px;
}
